.contact {
    height: 90vh !important;
    font-family: "Sen", sans-serif;
    background-color: var(--primary-color);

    h1 {
        font-size: 100px;
        color: var(--secondary-color);
        font-weight: 800;
        text-transform: uppercase;
    }

    form {
        width: 350px;

        ::placeholder,
        .form-control {
            color: var(--ternary-color);
            font-size: 14px;
        }

        .form-control {
            background-color: var(--input-color);
            border-radius: 30px;
        }

        .form-control:focus {
            border-color: var(--secondary-color);
            box-shadow: var(--shadow-input) !important;
        }

        .btn {
            border-radius: 30px;
            background-color: var(--primary-color);
            border: 2px solid var(--ternary-color);
            color: var(--ternary-color);
            width: 100%;
        }
    }

    .company-data {
        a {
            font-family: "Poppins", sans-serif;
            color: var(--ternary-color);
            text-decoration: none;
            font-size: 14px;

            &:hover {
                text-decoration: underline;
            }
        }

        img {
            color: var(--secondary-color);
        }
    }
}

.footer {
    background-color: var(--ternary-color);
    height: 80px;
}

@media (max-width: 991px) {
    .contact {
        h1 {
            font-size: 80px;
        }
    }
}

@media (max-width: 767px) {
    .contact {
        h1 {
            font-size: 60px;
        }
    }
}

@media (max-width: 576px) {
    .contact {
        h1 {
            font-size: 40px;
        }

        form {
            width: 90%;
        }
    }
}