<section class="about h-100 position-relative">
    <div class="row mx-0">
        <div class="box col-md-8 d-flex align-items-center justify-content-center py-5">
            <div class="w-auto d-flex flex-column align-items-center gap-5">
                <h1>About<br>us</h1>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <button class="btn btn-contact p-2">Contact us</button>
            </div>
        </div>

        <div class="pic-person position-absolute">
            <img src="assets/about.png" class="img-fluid rounded-4" alt="person">
        </div>
    </div>
</section>