<section class="home row mx-0 position-relative">
    <div class="box-dark col-sm-8 col-10 p-0">
        <div class="d-flex flex-column justify-content-between gap-5 align-items-center h-100">
            <div class="logo d-flex gap-2 align-items-center w-75 mt-5">
                <img src="assets/logo.png" alt="logo">
                <h4 class="m-0">Peachy Pup<br>Bakery</h4>
            </div>
            <div class="w-75">
                <h1>Tasty pastries</h1>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever.
                </p>
                <button class="btn btn-contact p-2">Contact us</button>
            </div>
            <div class="row w-100">
                <div class="col-4 social d-flex align-items-center justify-content-end">
                    <div class="social-media d-flex flex-column gap-3">
                        <img src="assets/social1.svg" alt="social1">
                        <img src="assets/social2.svg" alt="social2">
                        <img src="assets/social3.svg" alt="social3">
                        <img src="assets/social4.svg" alt="social4">
                    </div>
                </div>
                <div
                    class="col-8 phone d-flex flex-md-row flex-column gap-3 align-items-md-end justify-content-md-start justify-content-end pb-3">
                    <span class="fw-bold">Telephone:</span>
                    <span>+7 700 000 00 00</span>
                </div>
            </div>
        </div>
    </div>
    <div class="box-light col-sm-4 col-2"></div>
        <img src="assets/bread.png" class="pic position-absolute" alt="bread">
</section>