<section class="test py-5">
    <div class="container d-flex flex-column align-items-center gap-5">
        <h1>testimonials</h1>
        <div class="row justify-content-center gap-4">
            <ng-container *ngFor="let i of test">
                <div class="card p-4 col-md-5 col-sm-8 col-10">
                    <h6>Kathryn Murphy</h6>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled
                    </p>
                    <div>
                        <img src="assets/star.svg" alt="star">
                        <img src="assets/star.svg" alt="star">
                        <img src="assets/star.svg" alt="star">
                        <img src="assets/star.svg" alt="star">
                        <img src="assets/star.svg" alt="star">
                    </div>
                </div>
            </ng-container>
        </div>
        <button class="btn btn-contact p-2">Contact us</button>
    </div>
</section>