<section class="how-work d-flex flex-column align-items-center">
    <div class="row mx-0">
        <div class="box-light col-md-4 col-6 d-flex justify-content-center align-items-center">
            <p class="m-md-5 my-5">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever.
            </p>
        </div>
        <div class="box-dark col-md-8 col-6 py-5 text-end d-flex justify-content-center">
            <h1>How we<br>work</h1>
        </div>
    </div>

    <div class="slider my-4 d-flex flex-wrap gap-4 justify-content-center w-100">
        <img src="assets/work1.png" alt="photo" class="slider-image" />
        <img src="assets/work2.png" alt="photo" class="slider-image" />
        <img src="assets/work3.png" alt="photo" class="slider-image" />
        <img src="assets/work4.png" alt="photo" class="slider-image" />
    </div>
    <button class="btn btn-contact p-2 mb-4">Contact us</button>
</section>